:root {
    --bg: #121212;
    --bg-card: #282828;
    --bg-card2: #1f1f1f;
    --spotify-green: #1db954;
    --text: #ffffff;
    --text2: #a7a7a7;
}

.bloco1 {
    width: 32vw;
    height: 100%;
    margin: 5px 10px 20px 10px;
    background: var(--bg);
    border-radius: 10px;
    position: absolute;
}

.bloco2 {
    width: 66vw;
    height: 100%;
    margin: 5px 10px 10px 30px;
    background: var(--bg);
    border-radius: 10px;
    position: absolute;
    left: 31vw;
    overflow: scroll;
}

.top {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top h2 {
    font-size: 1em;
    font-weight: 600;
}

.top i {
    margin-right: 10px;
    font-size: 1.2em;
}

.playlist {
    background: var(--bg-card2);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.playlist h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 4px;
}

.playlist p {
    font-size: 0.8em;
    font-weight: 400;
    pointer-events: none;
}

.playlist button {
    color: black;
    background: white;
    border: none;
    font-weight: 600;
    padding: 7px 17px;
    border-radius: 100px;
    margin-top: 15px;
    transition: .3s ease;

}

.podcast button:hover, .playlist button:hover {
    transform: scale(1.1);
    transition: .3s ease;
    cursor: pointer;
}

.podcast {
    background: var(--bg-card2);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.podcast h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 4px;
}

.podcast p {
    font-size: 0.8em;
    font-weight: 400;
}

.podcast button {
    color: black;
    background: white;
    border: none;
    font-weight: 600;
    padding: 7px 17px;
    border-radius: 100px;
    margin-top: 15px;
}

.topico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.topico h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.topico a {
    text-decoration: none;
    color: var(--text2);
    font-size: 0.9em;
    font-weight: 500;
}

.musicas {
    display: flex;
    overflow: scroll;
    padding: 0 15px;
}

.musica {
    background: transparent;
    padding: 10px;
    width: 150px;
    margin-right: 10px;
    transition: .3s ease;
}

.musica img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.musica h3 {
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    
}

.musica a {
    font-size: 0.7em;
    text-decoration: none;
    color: var(--text2);
}

.artista:hover, .musica:hover {
    background: var(--bg-card);
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}

.artistas {
    display: flex;
    overflow: scroll;
    padding: 0 15px;
}

.artista {
    background: transparent;
    padding: 10px;
    width: 150px;
    margin-right: 10px;
    transition: .3s ease;
}

.artista img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    text-align: center;
}

.artista h3 {
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

.artista a {
    font-size: 0.7em;
    text-decoration: none;
    color: var(--text2);
}

.artista a:hover {
    text-decoration: dashed;
}

.playlists {
    display: flex;
    overflow: scroll;
    padding: 0 15px;
}

.playlist2 {
    background: transparent;
    padding: 10px;
    width: 150px;
    margin-right: 10px;
}

.playlist2 img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.playlist2 h3 {
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    
}

.playlist2 a {
    font-size: 0.7em;
    text-decoration: none;
    color: var(--text2);
}

@media screen and (max-width: 730px) {
    .bloco1 {
        display: none;
    }
    
    .topbar {
        display: none;
    }

    .bloco2 {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }
    .topico h2 {
        font-size: 1.2em;
    }
    .topico a {
        font-size: 0.7em;
    }
}

.teste {
    background: red;
    z-index: 10;
    height: 1000px;
}