:root {
    --bg: #121212;
    --bg-card: #282828;
    --bg-card2: #181818;
    --spotify-green: #1db954;
    --text2: #a7a7a7;
}

.topbar {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.logo img {
    height: 30px;
    width: auto;
    margin: 15px;
}

.btn-home i {
    background: var(--bg);
    padding: 13px 14px;
    border-radius: 100%;
    margin-left: 12px;
    color: var(--text2);
}

.btn-home {
    transition: .3s ease;
    cursor: pointer;
}

.btn-home:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.search {
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.search input {
    color: var(--text2);
    background: var(--bg);
    border: none;
    padding: 15px 130px 15px 45px;
    border-radius: 100px;
    font-weight: 500;
    transition: .3s ease;
}

.search input:hover {
    background: var(--bg-card);
    transition: .3s ease;
}

.search input:focus {
    border: 2px solid white;
    background: var(--bg-card);
    outline: none;
    transition: .1s ease;
}

.search i {
    color: var(--text2);
    position: absolute;
    left: 150px;
}

.lista {
    margin-left: 90px;
}

.lista ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.lista li {
    color: var(--text2);
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 20px;
    transition: .3s ease;
    cursor: pointer;
}

.lista li:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.divisor {
    margin: 0 30px;
    font-size: 2em;
    color: var(--text2);
    font-weight: 100;
}

.baixar {
    display: flex;
    align-items: center;
    transition: .3s ease;
    cursor: pointer;
}

.baixar a {
    color: var(--text2);
    font-size: 0.8em;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
}

.baixar:hover {
    transform: scale(1.1);
    transition: .3s ease;
    color: white;
}

.baixar i {
    color: var(--text2);
    font-size: 0.9em;
    font-weight: 600;
}

.login {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.login a {
    color: var(--text2);
    font-weight: 500;
    font-size: 0.8em;
    text-decoration: none;
    transition: .3s ease;

}

.login a:hover {
    transform: scale(1.1);
    transition: .3s ease;

}

.login button {
    color: black;
    background: white;
    border: none;
    font-weight: 600;
    padding: 13px 37px;
    border-radius: 100px;
    margin-left: 20px;
    transition: .3s ease;

}

.login button:hover {
    transform: scale(1.1);
    transition: .3s ease;

}

@media screen and (max-width: 1280px) {
    .lista {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .lista {
        margin-left: 5px;
    }
}