.area2 .head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 280px;
    padding: 20px;
    background: linear-gradient(0deg, #0099E8, #07284D);
    border-radius: 10px 10px 0 0;
}

.info {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: auto;
    margin-left: 20px;
}

.info h1 {
    font-size: 4rem;
}

.head img {
    box-shadow: 0 0 20px black;
}

.artist {
    display: flex;
    align-items: center;
    gap: 5px;
}

.artist a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.artist img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 25px;
    > svg {
        fill: var(--white);
    }
}

.addplaylist:hover, .more:hover {
    cursor: pointer;
    fill: white;
}

.buttons .play {
    padding: .2em;
    background: var(--green-spotify);
    border-radius: 100%;
    border: none;
    display: grid;
    font-size: 70px;
    cursor: pointer;
}

.songs {
    padding: 20px;
}

.songs h2 {
    color: white;
}

.song {
    display: flex;
    align-items: center;
    color: white;
    width: 700px;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.song:hover {
    background: #1f1f1f79;
}

.song img {
    width: 50px;
    height: 50px;
}

.song span {
    color: var(--white);
}

.listners {
    margin-left: auto;
}

.duration {
    margin-left: auto;
    margin-right: 10px;
}