.navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    align-self: start;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.logo .home {
    padding: .7em;
    background: var(--bg2);
    border-radius: 100%;
    display: grid;
    cursor: pointer;
}

.navbar .logo img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.search svg {
    position: absolute;
    transform: translate(21px, 11px);
}

.search input {
    background: var(--bg2);
    padding: 15px 20px;
    padding-right: 200px;
    border-radius: 100px;
    padding-left: 40px;
    margin-left: 10px;
    border: none;
    color: white;
    transition: outline .3s ease;
}

.search input:focus {
    outline: 2px solid white;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    > ul {
        display: flex;
        list-style: none;
        margin-right: 50px;
        gap: 20px;
        > li a {
            color: var(--white);
            text-decoration: none;
        }
    }
}

.instalar a {
    display: flex;
    color: var(--white);
    align-items: center;
    text-decoration: none;
    font-size: .9em;
}

.instalar svg {
    margin-right: 4px;
}

.login {
    background: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 15px 25px;
    cursor: pointer;
}

.signin {
    background: none;
    color: var(--white);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 25px;
}